@model EventosUYMVC.Models.Evento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Evento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titulo)
            @Html.ValidationMessageFor(model => model.Titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Artistas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Artistas)
            @Html.ValidationMessageFor(model => model.Artistas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hora)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hora)
            @Html.ValidationMessageFor(model => model.Hora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DireccionLugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DireccionLugar)
            @Html.ValidationMessageFor(model => model.DireccionLugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BarrioLugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BarrioLugar)
            @Html.ValidationMessageFor(model => model.BarrioLugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DescripcionLugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DescripcionLugar)
            @Html.ValidationMessageFor(model => model.DescripcionLugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreLugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombreLugar)
            @Html.ValidationMessageFor(model => model.NombreLugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EntradasVendidas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EntradasVendidas)
            @Html.ValidationMessageFor(model => model.EntradasVendidas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Capacidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capacidad)
            @Html.ValidationMessageFor(model => model.Capacidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Imagen)
        </div>
        <div class="editor-field">
            @using (Html.BeginForm("FileUpload", "Home",
                    FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input name="archivo" type="file" />
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ListaPrecio[0].Categoria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ListaPrecio[0].Categoria)
            @Html.ValidationMessageFor(model => model.ListaPrecio[0].Categoria)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ListaPrecio[0].Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ListaPrecio[0].Descripcion)
            @Html.ValidationMessageFor(model => model.ListaPrecio[0].Descripcion)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ListaPrecio[0].Valor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ListaPrecio[0].Valor)
            @Html.ValidationMessageFor(model => model.ListaPrecio[0].Valor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
