@model EventosUYMVC.Models.Reserva 

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>

@using (Html.BeginForm("Create", "Reserva", FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reserva</legend>
       
         <div class="editor-label">
            @Html.LabelFor(model => model.Usuario.Ci)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Usuario.Ci)
            @Html.ValidationMessageFor(model => model.Usuario.Ci)
        </div>

        
       
        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
