@model EventosUYMVC.Models.Reserva

@{
    ViewBag.Title = "Reservar";
}

<h2>Reserva</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
   

    <fieldset>
        <legend>Evento</legend>
        @Html.HiddenFor(model => model.Usuario.Nombre)
        @Html.HiddenFor(model => model.Usuario.Apellido)
        @Html.HiddenFor(model => model.Usuario.Email)
        @Html.HiddenFor(model => model.Evento.Id)
        @Html.HiddenFor(model => model.Evento.Titulo)
        @Html.HiddenFor(model => model.Evento.Descripcion)
        @Html.HiddenFor(model => model.Evento.Artistas)
        @Html.HiddenFor(model => model.Evento.Fecha)
        @Html.HiddenFor(model => model.Evento.Hora)
        @Html.HiddenFor(model => model.Evento.DireccionLugar)
        @Html.HiddenFor(model => model.Evento.EntradasVendidas)
        @Html.HiddenFor(model => model.Evento.Capacidad)
        @Html.HiddenFor(model => model.Evento.Activo)
        @Html.HiddenFor(model => model.Evento.ListaPrecio[0].Categoria)
        @Html.HiddenFor(model => model.Evento.ListaPrecio[0].Descripcion)
        @Html.HiddenFor(model => model.Evento.ListaPrecio[0].Valor)



        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.Titulo)
            @Html.DisplayFor(model => model.Evento.Titulo)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.Descripcion)
            @Html.DisplayFor(model => model.Evento.Descripcion)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.Artistas)
            @Html.DisplayFor(model => model.Evento.Artistas)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.Fecha)
            @Html.DisplayFor(model => model.Evento.Fecha)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.Hora)
            @Html.DisplayFor(model => model.Evento.Hora)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.DireccionLugar)
            @Html.DisplayFor(model => model.Evento.DireccionLugar)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.BarrioLugar)
            @Html.DisplayFor(model => model.Evento.BarrioLugar)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.DescripcionLugar)
            @Html.DisplayFor(model => model.Evento.DescripcionLugar)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.NombreLugar)
            @Html.DisplayFor(model => model.Evento.NombreLugar)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.EntradasVendidas)
            @Html.DisplayFor(model => model.Evento.EntradasVendidas)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.Capacidad)
            @Html.DisplayFor(model => model.Evento.Capacidad)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.Precio.Categoria)
            @Html.DisplayFor(model => model.Evento.Precio.Categoria)

        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.Precio.Descripcion)

            @Html.DisplayFor(model => model.Evento.Precio.Descripcion)

        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Evento.Precio.Valor)

            @Html.DisplayFor(model => model.Evento.Precio.Valor)

        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cant)
            @Html.EditorFor(model => model.Cant)
            @Html.ValidationMessageFor(model => model.Cant)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Usuario.Ci)
            @Html.EditorFor(model => model.Usuario.Ci)
            @Html.ValidationMessageFor(model => model.Usuario.Ci)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>

    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
